.Nav-sec{
    width: 100%;
    background-color: var(--text-white-color);
    border-bottom: 2px solid green;
    z-index: 3;
   position: fixed;
}

.Navs{
    width: 95%;
    display: block;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
}

.Navs img{
width: 360px;
position:relative ;
object-fit: cover;
    
}

.Navs ul{
    display: flex;
 gap: 20px;
}


.link{
    color: black;
text-decoration: none;
   list-style: none;
    cursor: pointer;
    font-size: 24px;
}



.Navs div:nth-child(2){
 
    position: relative;
    top: 44px;
}

.Navs div:nth-child(3){
    display: none;
}

.Small-nav{
    display: none;
}

 




@media screen and (min-width:320px) and (max-width:480px){
 .Nav-sec{
    width: 100%;

}
.Navs img{
width: 270px;
position:relative ;
right: 23px;
top: 3px;
object-fit: cover;
    
}

.Navs div:nth-child(2) {
display: none;
}

.Navs div:nth-child(3){
    position: relative;
    top: 29px;
    display:block;

}



.Navs div:nth-child(3) i{
    font-size: 36px;

}


.Small-nav{
    width: 70%;
    display:block;
    
    position: absolute;
    z-index: 99;
    right: 0;
    height: 100%;
    position:fixed ;
    top: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: whitesmoke;
    
}

.Small-nav div:nth-child(1){
height: 40px;
z-index: 99;
border-radius: 3px;
background-color: green;
    margin-top: 20px;
margin-left: -13px;
border-radius: 6px;

} 


.Small-nav div:nth-child(1) i{
color: var(--text-white-color);
    font-size: 40px;
    text-align: center;
}
.Small-nav div:nth-child(2){
width: 99%;
    margin-left: 20%;
    margin-top: 50px;
}


.Small-nav div:nth-child(2) ul{
   width: 100%; 
    list-style: none;
    margin-top: 0px;

}


.Small-nav div:nth-child(2) li{
    font-size: 25px;
    margin-top: 50px;
}


.Small-nav div:nth-child(2) ul li:hover{
    width: 90%;
    position: relative;
    padding:8px 3px 8px 3px;
    background-color: green;
    border-radius: 6px;
    color: white;
}

}

@media screen and (min-width:481px) and (max-width: 1084px) {
.Navs div:nth-child(2) {
display: none;
}

   .Navs div:nth-child(3){
    position: relative;
    top: 44px;
    display:block;

} 

.Navs div:nth-child(3) i{
    font-size: 46px;

}


.Small-nav{
    width: 65%;
    display:block;
    
    position: absolute;
    z-index: 99;
    right: 0;
    height: 100%;
    position:fixed ;
    top: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: whitesmoke;
    
}

.Small-nav div:nth-child(2){
width: 99%;
    margin-left: 30%;
    margin-top: 70px;
}

.Small-nav div:nth-child(2)  li:hover{
    width: 99%;
    background-color: green;
    border-radius: 12px;
    color: white;
  padding: 9px 8px 9px 8px;
 


}

.Small-nav div:nth-child(2) li{
    font-size: 30px;
    margin-top: 65px;
}

.Small-nav div:nth-child(1){
    width: 50px;
height: 45px;
z-index: 99;
border-radius: 3px;
background-color: green;
    margin-top: 20px;
margin-left: -15px;
border-radius: 6px;

} 


.Small-nav div:nth-child(1) i{
color: var(--text-white-color);
    font-size: 45px;
    text-align: center;
}

.Navs img{
width: 400px;
position:relative ;
right: 23px;
top: 3px;
object-fit: cover;
    
}



}